* {
	margin: 0px;
};

body {
	background-color: $primary_light;
	font-family: Trebuchet MS, Ubuntu, sans-serif;
}

::selection{
	background-color: $secondary_light_alpha;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0.5em 1em;
}

h2 {
	font-size: 1.3em;
}

p {
	font-weight: 400;
	margin: 15px 20px;
	&.wider {
		margin: 10px 10px;
	}
	&.inline {
	}
 }

a {
 	text-decoration: none;
 	color: $primary; 
}

p {
	a {
	 	text-decoration: none;
	 	color: $primary; 
	 	&:hover {
	 		color: $background;
	 		background-color: $primary; 
	 	}
	}
}

 em {
 	color: $secondary;
 	margin: 10px 40px;
 }

 .secondary_title {
 	color: $secondary;
 }

// IMAGES
img {
	&.resp {
	max-width:100%;
	}	
	&.text_inline{
		max-width: 500px;
		display: inline;
		&.smaller {
			max-width: 250px;
			margin: 2em;
		}
	}
	&.pull-right {
		margin: 10px;
		margin-right: 15px;
	}
	&.pull-left {
		margin: 10px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 768px) {
	img {
		&.text_inline {
			max-width: 100%;
			display: inline-block;
		}
		&.pull-right,&.pull-left {
			margin: 5px;
			float:none;
		}
	}
}

#logo {
	z-index: 4000;
}

blockquote {
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	&:before{
		font-family: Georgia, Times;
		color: $secondary_light;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
	 p {
	  display: inline;
	  font-style: italic;
	  font-weight: 500;
	  color: $secondary;
	}
	footer {
		background-color: $background;
		padding: 10px 20px 0px 0px;
		color: $primary_dull;
		text-align: right;
	}
}

// CARDS
.card {
	background-color: $background;
	margin: 10px 0px 0px 0px;
	padding: 10px;
}

.no_padding {
	padding: 0px !important;
}

.card_top {
	margin: 0px 0px 0px 0px;
}

.margin_top {
	margin-top: 20px;
}

.margin_bottom {
	margin-bottom: 8px;
}

.bubbles {
	background: url(../img/bubbles.png) $background center center no-repeat ;
	background-size: cover;
}

.primary {
	background: $primary_dull;
	color: $background;
}

.secondary {
	background: $secondary_light;
	color: $background;
}


// MEDIA
// VIDEO
.videoWrapper {
	margin: 30px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// GOOGLE MAPS
.google_maps {
    position: relative;
    padding-bottom: 42%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

@media screen and (max-width: 768px) {
	.padded {
		padding: 0px 10px;
	}

	.card_top {
		margin: 10px 0px 0px 0px;
	}
}
// SHADOWS
.shadow1 {
	box-shadow: $shadow1;
}
.shadow2 {
	box-shadow: $shadow2;
}