* {
	margin: 0px;
};

body {
	background-color: $primary_light;
	font-family: Trebuchet MS, Ubuntu, sans-serif;
}

::selection{
	background-color: $secondary_light_alpha;
}

h1 {
	margin-left: 1em;
}

p {
	font-weight: 400;
	margin: 15px 20px;
 }

// IMAGES
img {
	max-width:100%;
}
#logo {
	z-index: 4000;
}

blockquote {
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	&:before{
		font-family: Georgia, Times;
		color: $secondary_light;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
	 p {
	  display: inline;
	  font-style: italic;
	  font-weight: 500;
	  color: $secondary;
	}
	footer {
		background-color: $background;
		padding: 10px 20px 0px 0px;
		color: $primary_dull;
		text-align: right;
	}
}

// CARD
.card {
	background-color: $background;
	margin: 10px 0px 0px 0px;
	padding: 10px;
}

.card_top {
	margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
	.padded {
		padding: 0px 10px;
	}

	.card_top {
		margin: 10px 0px 0px 0px;
	}
}
// SHADOWS
.shadow1 {
	box-shadow: $shadow1;
}
.shadow2 {
	box-shadow: $shadow2;
}