.btn {
	font-size: 0.9em;
	text-decoration: none;
	padding: 8px 10px;
	border-radius: 3px;
	i {
		color: $background;
		font-size: 1em;
	}
}

.btn_big {
	font-size: 1.1em;
	i {
		color: $background;
		font-size: 1.2em;
	}
}

.btn_primary {
	background-color: $primary;
	color: $background;
	box-shadow: 0px -3px 0px 0px $primary_dull inset;
	&:hover, &:active {
		background-color: $primary_dull;
	}
}


.btn_primary_light {
	background-color: $primary_light;
	color: $primary_dull;
	box-shadow: 0px -3px 0px 0px $primary inset;
	&:hover, &:active {
		background-color: $primary;
	}
	i {
		color: $primary_dull;
		font-size: 1em;
	}
}


.btn_secondary {
	background-color: $secondary;
	color: $background;
	box-shadow: 0px -3px 0px 0px $secondary_dull inset;
	&:hover, &:active {
		background-color: $secondary_dull;
	}
}

.btn_gallery {
	margin: 1.5em;
	display:block;
}