.twitter {
	i {
		color: $twitter_bg;
		font-size: 2em;
	}
}

.facebook {
	i {
		color: $facebook_bg;
		font-size: 2em;
	}
}

.instagram {
	i {
		color: $instagram_bg;
		font-size: 2em;
	}
}

// TWITTER

#tw-widget1 {
	background-color: $background;
	color: $primary;
	border-radius: 2px;
	box-shadow: $shadow1;
	margin-top: 5px;
	ul {
		list-style-type: none;
		-webkit-padding-start: 2px;
		display: inline;
		-webkit-margin-before: 0em;
  		-webkit-margin-after: 0em;
		li {
			padding: 0px 20px;
			p {
				margin: 5px 10px;
				&.tweet {
					font-style: italic;
					margin: 10px 15px;
					a {
						color: $primary_dull;
						text-decoration: none;
						&:hover {
							color: $secondary;
						}
					}
				}
				&.interact {
					text-align: center;
					a {	
						font-size: 0.8em;
						margin: 0px 10px;
						text-decoration: none;
						color: $secondary_light;
						&:hover {
							color: $secondary_dull;
						}
					}
					i {
						font-size: 1em;
						margin-right: 0.5em;
					}
				}
				&.timePosted {
					text-align: right;
					font-size: 0.75em;
					color: $primary;
				}
			}
			div.user {
				a {
					color: $primary_dull;
					text-decoration: none;
					img {
						box-shadow:$shadow1;
						float: right;
						// display: none;
					}
				}
			}
		}
	}
}

// ON CONTACT PAGE

// FACEBOOK
.fb-page {
	blockquote {
		color: $background;
		display: none;
	}
	a {
		color: $primary_dull;
		text-decoration: none;
	}
}

// TWITTER 
.twitter_badge {
	a {
		color: $background;
		text-decoration: none;
	}
	h3 {
		font-size: 1em;
		display: inline; 
		margin: 0em 0em;
		-webkit-margin-before: 0em;
  		-webkit-margin-after: 0em;
	}
	background-color: $twitter_bg;
	color: $background;
	i {
		font-size: 2em;
	}
}


// INSTAGRAM

#instafeed {
	div {
		a {
			img {
				box-shadow: $shadow1;
			}
		}
	}
}

.insta_title {
    display: inline;
    span {
    	font-size: 1.1em;
    	display: inline-block;
    	margin: 10px 0px;
    }
}


@media screen and (max-width: 768px) {
	.insta_title {
	    span {
	    	font-size: 0.8em;
	    }
	}
}

.insta_captions {
	font-size:0.8em;
	color: $secondary_light;
	display: block;
	margin: 8px 5px 5px 8px;
	a {
		text-decoration: none;
		color: $secondary;
		&:hover {
			color: $secondary_light;
		}
	}
}