.twitter {
	i {
		color: $twitter_bg;
		font-size: 2em;
	}
}

.facebook {
	i {
		color: $facebook_bg;
		font-size: 2em;
	}
}

.instagram {
	i {
		color: $instagram_bg;
		font-size: 2em;
	}
}

// TWITTER

#tw-widget1 {
	ul {
		list-style-type: none;
		-webkit-padding-start: 10px;
		display: inline;
		-webkit-margin-before: 0em;
  		-webkit-margin-after: 0em;
		li {
			padding: 0px 20px;
			p {
				margin: 5px 10px;
				&.tweet {
					font-style: italic;
					margin: 10px 15px;
				}
				&.interact {
					text-align: center;
					a {	
						font-size: 0.8em;
						margin: 0px 20px;
						text-decoration: none;
						color: $secondary_light;
						&:hover {
							color: $secondary_dull;
						}
					}
				}
				&.timePosted {
					text-align: right;
					font-size: 0.75em;
					color: $primary;
				}
			}
			div.user {
				a {
					img {
						display: none;
					}
				}
			}
		}
	}
}


// INSTAGRAM

#instafeed {
	div {
		a {
			img {
				box-shadow: $shadow1;
			}
		}
	}
}

.insta_title {
    display: inline;
    span {
    	font-size: 1.1em;
    	display: inline-block;
    	margin: 10px 0px;
    }
}

.insta_captions {
	font-size:0.8em;
	color: $secondary_light;
	display: block;
	margin: 0px 5px 5px 8px;
	a {
		text-decoration: none;
		color: $secondary;
		&:hover {
			color: $secondary_light;
		}
	}
}