
// BACKGROUND
$background: whitesmoke;

// BLUES
$primary: #2C93C6;
$primary_dull: #1A4C6B;
$primary_dull_alpha: rgba(26,76,107, 0.5);
$primary_light: #A5C6D6;

// WINE
$secondary: #681A3F;
$secondary_light: #8E255C;
$secondary_light_alpha: rgba(142, 37, 92, 0.5);
$secondary_dull: #380721;

// SAND
$tertiary: #E0CBA2;

// SOCIAL
$facebook_bg: #3b5998;
$twitter_bg: #00aced;
$google_plus_bg: #dd4b39;
$instagram_bg: #3f729b;


// SHADOW
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// MOBILE NAV
$panel_width_default: 50%;
$panel_width_large: 50%;
$panel_width_medium: 50%;
$panel_transition_closing: visibility 0s 0.5s;
$panel_transition_opening: visibility 0s 0s;
$panel_overlay_transition: background 0.3s 0.3s;