
// BACKGROUND
$background: whitesmoke;

// BLUES
$primary: #2C93C6;
$primary_dull: #1A4C6B;
$primary_light: #A5C6D6;



// SHADOW
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
